In [72]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_excel("companiesData.xlsx")

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          558 non-null    int64
 1   companyId           558 non-null    object
 2   companyName         556 non-null    object
 3   companyRating       554 non-null    float64
 4   companyEmployees    554 non-null    object
 5   companyLocation     558 non-null    object
 6   companyDescription  303 non-null    object
 7   companyType         558 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 35.0+ KB

In [75]:
df = df[~df["companyName"].isna()]

In [76]:
df.shape

(556, 8)

In [77]:
nans = pd.to_numeric(df["companyName"], errors="coerce").isna()

In [78]:
df[nans].shape

(553, 8)

In [79]:
temp = []
for i in range(df[nans].shape[0]):
    temp.append("company_" + str(i))

In [80]:
len(temp)

553

In [81]:
new_company_id = pd.Series(temp)

In [82]:
new_company_id

0        company_0
1        company_1
2        company_2
3        company_3
4        company_4
          ...
548    company_548
549    company_549
550    company_550
551    company_551
552    company_552
Length: 553, dtype: object

In [83]:
keys = list(df.keys()[2:])
keys

['companyName',
 'companyRating',
 'companyEmployees',
 'companyLocation',
 'companyDescription',
 'companyType']

In [84]:
temp_df = df

In [85]:
new_df = temp_df[nans].reset_index()

In [86]:
new_df = new_df[list(new_df.keys()[2:])]

In [87]:
df.head(-20)

,Unnamed: 0,companyId,companyName,companyRating,companyEmployees,companyLocation,companyDescription,companyType
0,0,company_0,IBM,4.0,10000+ employees,Jakarta,"IBM works to design, advance, and scale the te...",Information Technology
1,1,company_1,Tokopedia,4.2,5001 to 10000 employees,Jakarta,Tokopedia is an Indonesian technology company ...,Information Technology
2,2,company_2,Google,4.3,10000+ employees,Jakarta,"Since our founding in 1998, Google has grown b...",Information Technology
3,3,company_3,Microsoft,4.2,10000+ employees,Jakarta,"At Microsoft, our mission is to empower every ...",Information Technology
4,4,company_4,Gojek,4.1,1001 to 5000 employees,Jakarta,Gojek is Southeast Asiaâ€™s leading on-demand pl...,Information Technology
...,...,...,...,...,...,...,...,...
533,533,company_533,SF Group,4.2,Unknown,Jakarta,NaN,Advertising & Public Relasion
534,534,company_534,SHIFT (Indonesia),4.1,1 to 50 employees,Jakarta,NaN,Advertising & Public Relasion
535,535,company_535,Metaphor,4.6,1 to 50 employees,Jakarta,NaN,Advertising & Public Relasion
536,536,company_536,SMS Group of Companies,4.7,1 to 50 employees,Jakarta,NaN,Advertising & Public Relasion
537,537,company_537,Linked-In Marketing,4.3,1 to 50 employees,Jakarta,NaN,Advertising & Public Relasion

In [88]:
new_df.to_excel("cleanData.xlsx")
new_df.to_csv("cleanData.csv")